<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <span id="busuanzi_container_site_pv">
        Total <span id="busuanzi_value_site_pv"></span> views
      </span>
      <div>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
      </div>
    </div>
  </div>
  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
  </script>
</footer>